<nav class="navbar fixed-bottom navbar-light bg-light py-4">
    <div class="container">
        <div class="row justify-content-center">
            <span class="navbar-brand mb-0 h1 center">Humber College&copy;</span>
        </div>
    </div>
</nav>