    <nav class="navbar navbar-light bg-light py-4 header">
      <div class="container">
        <div class="row justify-content-center">
          <span class="navbar-brand mb-0 h1 center">Mihir Deshpande &nbsp; N01471808 &nbsp; Mudit Dahiya &nbsp; N01480588</span> 
        </div>
      </div>
      
    </nav>