<div class="container">
  <h1>Delete restaurant!</h1>
  <form method="post" action="/gui/delete">
    <label for="id">Mongo ID for record you would like to delete:
    </label>
    <input type="text" name="id" />
    <br />
    <br />
    <input type="submit" value="Delete restaurant!" />
  </form>
</div>