<div class="container">
  <h1>This is the GUI</h1>
  <form action="/gui" method="post" enctype="application/x-www-form-urlencoded">
    <label>What would you like to do: </label>
    <select name="type" id="type">
      <option value="add">Add</option>
      <option value="view">View</option>
      <option value="delete">Delete</option>
      <option value="update">Update</option>
    </select>
    <br />
    <input type="submit" value="Go!" />
  </form>
</div>