<div class="container">
  <h1>Update an existing restaurant!</h1>
  <form method="post" action="/gui/update">
    <label for="id">Mongo ID for record you would like to update:
    </label>
    <input type="text" name="id" />
    <br />
    <h2>Address</h2>
    <label for="buildingNumber">Building Number: </label>
    <input type="text" name="buildingNumber" />
    <br />
    <label for="street">Street: </label>
    <input type="text" name="street" />
    <br />
    <label for="zipcode">Zipcode: </label>
    <input type="text" name="zipcode" />
    <br />
    <label>Coordiantes: </label>
    <label for="latitude">Latitude: </label>
    <input type="number" name="latitude" step="any" />
    <label for="longitude">Longitude: </label>
    <input type="number" name="longitude" step="any" />
    <br />
    <br />

    <label for="borough">Borough: </label>
    <input type="text" name="borough" />
    <br />
    <label for="cuisine">Cuisine: </label>
    <input type="text" name="cuisine" />
    <br />
    <label for="name">Name: </label>
    <input type="text" name="name" />
    <br />
    <br />
    <label for="restaurant_id">Restaurant ID:
    </label>
    <input type="text" name="restaurant_id" />
    <br />
    <h2>Grade</h2>
    <label for="grade">Grade: </label>
    <input type="text" name="grade" />
    <br />
    <label for="score">Score: </label>
    <input type="number" name="score" step="any" />
    <br />
    <label for="date">Date: </label>
    <input type="date" name="date" required />
    <br />
    <br />
    <input type="submit" value="Update restaurant!" />
  </form>

</div>