<div class="container">
  <h1>View restaurant!</h1>
  <form method="post" action="/gui/view">
    <label for="id">Mongo ID for record you would like to view:
    </label>
    <input type="text" name="id" />
    <br />
    <br />
    <input type="submit" value="View restaurant!" />
  </form>
</div>